[flake8]
#
# flake8 config file docs: https://flake8.pycqa.org/en/latest/user/configuration.html
#
# in venv
# pip install wemake-python-styleguide
# flake8 proptool/report/
#
# Refactoring hitns:
# https://flake8.codes/wemake-python-styleguide/0.15.3/index.html

max-line-length = 132

exclude =
    .git,
    __pycache__,
    # This contains our built documentation
    build,
    dist

# it's not a bug that we aren't using all of hacking
ignore =
    # D205 1 blank line required between summary line and description
    D205,
    # D400 First line should end with a period
    D400,
    # RST213 Inline emphasis start-string without end-string.
    RST213,
    # WPS300 Found local folder import
    WPS300,
    # I004 isort found an unexpected blank line in imports
    I004,
    # I001 isort found an import in the wrong position
    I001,
    # WPS600 Found subclassing a builtin: list
    WPS600,
    # WPS305 Found `f` string
    WPS305,
    # D401 First line should be in imperative mood
    D401,
    # WPS336 Found explicit string concatenation
    WPS336,
    # D200 One-line docstring should fit on one line with quotes
    D200,
    # WPS237 Found a too complex `f` string
    WPS237,
    # WPS302 Found unicode string prefix
    WPS302,
    # WPS115 Found upper-case constant in a class
    WPS115,
    # WPS360 Found an unnecessary use of a raw string
    WPS360,
    # WPS602 Found using `@staticmethod`
    WPS602,
    # E251 unexpected spaces around keyword / parameter equals
    E251,
    # I003 isort expected 1 blank line in imports, found
    I003,
    # WPS615 Found unpythonic getter or setter
    WPS615,

    # WPS420 Found wrong keyword: pass
    WPS420,
    # WPS604 Found incorrect node inside `class` body
    WPS604

    # WPS338 Found incorrect order of methods in a class
    WPS338,
    # D101 Missing docstring in public class
    D101,
    # D102 Missing docstring in public method
    D102,
    # D107 Missing docstring in __init__
    D107,
    # DAR201 Missing "Returns" in Docstring: - return
    DAR201,
    # WPS210 Found too many local variables: 14 > 5
    WPS210,
    # WPS231 Found function with too much cognitive complexity: 83 > 12
    WPS231,
    # WPS232 Found module cognitive complexity that is too high: 27.7 > 8
    WPS232,
    # WPS221 Found line with high Jones Complexity: 17 > 14
    WPS221,
    # F821 undefined name 'PropFile'
    F821,
    # I005 isort found an unexpected missing import
    I005,
    # E241 multiple spaces after ':'
    E241,
    # DAR101 Missing parameter(s) in Docstring
    DAR101,

    # WPS226 Found string constant over-use: " > 3
    WPS226,
    # WPS220 Found too deep nesting: 28 > 20
    WPS220,
    # WPS110 Found wrong variable name: item
    WPS110,
    # WPS605 Found method without arguments
    WPS605,

    # WPS319 Found bracket in wrong position
    # WPS318 Found extra indentation
    WPS319, WPS318

per-file-ignores =
    # WPS420 Found wrong keyword: pass
    # WPS604 Found incorrect node inside `class` body
    proptool/report/error.py: WPS420, WPS604,
    proptool/report/warn.py: WPS420, WPS604,

    # WPS230 Found too many public instance attributes
    proptool/config.py: WPS230,

    # WPS214 Found too many methods
    # WPS437 Found protected attribute usage
    # WPS111 Found too short name
    # WPS317 Found incorrect multi-line parameters
    # WPS421 Found wrong function call: print
    # WPS518 Found implicit `enumerate()` call
    # WPS323 Found `%` string formatting
    proptool/log.py: WPS214, WPS437, WPS111, WPS317, WPS421, WPS518, WPS323,

    # WPS201 Found module with too many imports: 13 > 12
    # WPS213 Found too many expressions: 13 > 9
    # WPS317 Found incorrect multi-line parameters
    # W503 line break before binary operator
    # WPS323 Found `%` string formatting
    proptool/main.py: WPS201, WPS213, WPS317, W503, WPS323,

    # WPS430 Found nested function: overrider
    # S101 Use of assert detected. The enclosed code will be removed when compiling to optimised byte code.
    # WPS421 Found wrong function call: dir
    proptool/overrides.py: WPS430, S101, WPS421,

    # WPS201 Found module with too many imports: 21 > 12
    # WPS230 Found too many public instance attributes
    proptool/prop_file.py: WPS201, WPS230,

    # WPS421 Found wrong function call: print
    # WPS100 Found wrong module name
    proptool/utils.py: WPS421, WPS100,

    # S311 Standard pseudo-random generators are not suitable for security/cryptographic purposes.
    # WPS323 Found `%` string formatting
    tests/*: S311, WPS323,
